* {
	/* margin: 0; */
	/* padding: 0; */
}

h1 {
	color: rgb(49, 155, 182);
	/* margin: 0; */
}

h2 {
	color: bisque
}

body {
	font-family: Roboto, Arial, Impact;
	color: white;
	background: rgb(42, 42, 44);
	margin: 0;
	padding: 0;
}

button {
	background: rgb(49, 155, 182);
	border: none;
	width: 100px;
	height: 30px;
	color: white;
}

/* HEADER */

header {
	background: bisque;
	padding: 20px 40px;
}

/* NAVIGATION BAR */

.nav {
	color: black;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline-block;
	margin: 10px 20px;
	
}

.nav a {
	text-decoration: none;
	color: black;
	background: gray;
	padding: 5px 10px;
}

.nav a:hover {
	text-decoration: underline;
}

.pic {
	background-image: url("Images/Photo\ V2.jpg");
	background-size: 100px;
	background-repeat: no-repeat;
	text-indent: -9999999px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid rgb(49, 155, 182);
}

/* RESPONSIVE RULES FOR NAV BAR */
header .mobile {
	display: none;
}

@media screen and (max-width: 700px) {
	header .desktop {
		display: none;
	}
	header .pic {
		display: block;
	}
	header .mobile {
		display: inline-block;	 
	}
}

/* PROJECT GALLERY */

.gallery {
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: gray;
}

.gallery figure {
	width: 250px fixed;
	margin: 20px 30px;
	
}

.gallery figure img {
	margin: 20px 0;
	width: 240px;
	box-shadow: black 10px 10px 20px;
	transition: all 0.3s ease;
}

.gallery figure img:hover {
	box-shadow: black 20px 20px 40px;
	width: 250px;
}

.gallery figure figcaption {
	text-align: center;
	font-weight: bold;
}
/* FOOTER */

footer {
	padding: 40px;
	background: gray;
	text-align: center;
}

/* GRID SYSTEM */
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 250px 60px 1fr 100px;
}

header {
	grid-column: 1/4;
	grid-row:  1/2;
}

subtitle {
	padding: 10px 40px;
	grid-column: 1/4;
	grid-row:  2/3;
}

main {
	padding: 20px 40px;
	grid-column: 1/4;
	grid-row:  3/4;
}

footer {
	grid-column: span 3;
}